<% provide(:title, 'Contact us') %>
<h1>Contact, please</h1>
<p>
  is a project to make a book and screencasts to teach web development.
  This is the sample application for the tutorial.
  Contact Ruby on Rails Tutorial about the sample app at the
  <a href="http://railstutorial.org/contact">contact page</a>.
</p>